*{
    margin: 0;
    padding: 0;
    list-style: none;
    border: none;
    outline:none;
}
section{
    width: 1000px;
    height: auto;
    margin: 0 auto;
    padding: 10px 20px;
    box-sizing: border-box;
    background-color: rgba(221, 247, 255, 0.45);
}
section:first-child{
    margin-top: 100px;
}
.title{
    margin: 0 auto;
    width:90%;
    color: #c7254e;
    background-color: #ffffff;
    font-weight: 600;
    font-size: 18px;
    padding: 20px 10px;
    border-radius: inherit;
}
#info{
    padding: 20px 50px;
    border-radius: 8px;
}
.item{
    margin: 10px auto;
    width: 800px;

}
.item>input{
    width:100%;
    height: 30px;
    margin: 10px auto;
    padding: 6px 12px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.35);
    box-sizing: border-box;
    font-size: 14px;
    border-radius: 6px;
    color: #c7254e;
}
.item>button{
    width:100%;
    height: 30px;
    margin: 10px auto;
    padding: 6px 12px;
    box-shadow: 0 0 10px 1px rgba(41, 41, 250, 0.28);
    box-sizing: border-box;
    font-size: 18px;
    font-weight: 600;
    color: #FFFFFF;
    border-radius: 6px;
    background-color: #3eb4fa;
}
.item>textarea{
    width:100%;
    height: 300px;
    margin: 10px auto;
    padding: 6px 12px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.35);
    box-sizing: border-box;
    resize: none;
    font-size: 14px;
    border-radius: 6px;
    color: #080808;
    font-weight: 600;
}
.item>.num{
    color: #9eff00;
}
#info>ul{
    padding: 20px 50px;
    border-radius: 8px;
}
#info>ul li{
    height: auto;
    display: flex;
    margin-bottom: 20px;
    border-bottom:1px solid #3eb4fa;

}
#info>ul li .box{
    width: 80px;
    height: 60px;
}
#info>ul li .box img{
    width:100%;
    height: 100%;
}
#info>ul li .content{
    flex:1;
    padding-left: 10px;
}
#info>ul li .content h3{
    height: 20px;
    font-size: 16px;

}